@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* global styles */
  *::selection {
    /* @apply bg-secondary/30; */
  }

  html {
    @apply text-[clamp(12px,1vw,16px)] max-[1450px]:text-[clamp(13px,1.4vw,16px)] max-lg:text-[clamp(13px,1.5vw,16px)] max-md:text-[clamp(13px,2vw,16px)] max-sm:text-[clamp(12px,3.5vw,14px)];
  }

  body {
    @apply bg-background font-body font-light overscroll-y-none min-w-[260px];
  }
}

@layer components {
  .box {
    @apply size-full text-text rounded-[16px] p-6 overflow-hidden;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .absolute-center {
    @apply fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;  /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar { 
      display: none;  /* Safari and Chrome */
  }
  .scrollbar-white {
      @apply [&::-webkit-scrollbar]:w-1.5 [&::-webkit-scrollbar-track]:opacity-0 [&::-webkit-scrollbar-thumb]:bg-text/80 [&::-webkit-scrollbar-thumb]:rounded-full;
  }
}
